  <div class="stage">
    <div class="poster-container">
      <div class="ring">
    
       
   

    {{#each movieInfo as |movie|}}
        
        <div class="img">
            {{#if movie.poster_path}}
            <a href="/api/movie/{{ movie.id }}">
                <img src = "https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="" height="600px" width="400px"/> 
                <p class="poster_counter" style="font-size: 2rem;">{{movie.id}}.</p>
            </a>
            {{else}}
            <a href="/api/movie/{{ movie.id }}">
                <img src = "./img/PlaceHolder.jpg" alt="" height="600px" width="400px"/> 
                <p class="poster_counter" style="font-size: 2rem;">{{movie.id}}.</p>
            </a>
            {{/if}}
        
            <div class="movie-info">
                <p class="title">{{movie.title}}</p>
                <p class="release">{{format_date movie.release_date}}</p>               
            </div>
        </div>



    {{/each}}

<div id="poster-count" style="display: none;">
    {{posterCount}}
</div>

   </div>
    </div>
  </div>


<div class="card_landing">
            Scroll here for optimal site function
</div>
{{!-- <div class="card_landing">
    <div>
        Scroll here for optimal site function
    </div>
</div> --}}