<div class="text-center post">
  <img src= '{{poster_path}}' >
  <h2>{{title}}  {{language}}</h2>
  <h2>{{release_date}}</h2>
  <p>{{overview}}</p>

  <div class="form-group">
<!--Add movie to watchlist-->
    <a href="/watchlist"><button type="submit" class="btn btn-primary">Add to Watchlist</button></a>
  </div>
  
</div>

