<<<<<<< HEAD
<div class="text-center">
  <img src= "https://image.tmdb.org/t/p/w500{{poster_path}}" alt="" height="600px" width="400px"/>
  <h2>{{title}}  {{language}}</h2>
  <h2>{{release_date}}</h2>
  <p>{{overview}}</p>

  <div class="form-group">
<!--Add movie to watchlist-->
    <a href="/watchlist"><button type="submit" class="btn btn-primary">Add to Watchlist</button></a>
  </div>
  
</div>

=======
<div class="row">
    <div class="col-auto display-block">

    {{#each movie_found as |movie|}}
            <a href="/{{ movie.id }}">

                <h5 class="p-2">{{ movie.title }} <br />|
                    {{#each genres as | genre |}} 
                        <span class="genres">  {{ genre.genre_name }} | </span>    
                    {{/each}}
                </h5>
            </a>
                {{#if movie.poster_path }}
                <span class="card-poster">
                    <img src = "https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="" height="500px" width="400px"/> 
                </span>  
                {{else}}
                    <img src = "../../img/PlaceHolder.jpg" alt="" height="600px" width="400px"/> 
                    <p class="poster_counter" style="font-size: 2rem;">{{movie.id}}.</p>
                {{/if}} 

                {{#if movie.backdrop_path }}
                <span class="card-poster">
                    <img src = "https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}" alt="" height="300px" width="500px"/> 
                </span>  
                {{/if }}

                <div class="col-6 movie-overview">
                    {{ movie.overview }}
                </div>  

        {{/each}}

    </div>
    
</div>
>>>>>>> main
