
<div class="container flex-column">        
    {{#each movie_found as |movie|}}
        <h3 class="p-2 mb-4 flex-row justify-center font-weight-bold p-2 release-date">{{ movie.title }}</h3> 
        
        <div class="flex-row moviespage  align-baseline">

            <div class="col-12 col-lg-6">

                <div class="flex-row flex-no-wrap justify-evenly">

                    {{#each genres as | genre |}} 
                        <div class="genres font-weight-light release-date">  {{ genre.genre_name }} </div>    
                    {{/each}}
                </div>

                <h6 class="p-4 mt-4 release-date">Movie release date: <br/>{{format_date movie.release_date}}</h6>
                <h6 class="p-4 release-date">Language: <br/>{{movie.language}}</h6>
                <h6 class="p-4 release-date">Popularity score (aggregation of fans scores): <br/>{{movie.popularity}}</h6>
                <div class="movie-overview">
                    <h5 class="mt-5 mb-5">Overview: <br/>{{ movie.overview }}</h5>
                </div>
            
                <div class="col-12 movieposter">
                    {{#if movie.poster_path }}
                        <img src = "https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="img-fluid" alt="" height="100%" width="100%"/> 
                    {{else}}
                        <img src = "../../img/PlaceHolder.jpg" alt="" height="100%" width="100%"/> 
                    {{/if}} 
                </div>  
            </div>

            {{#if usermovies}}             
                {{#each usermovies as | prefs |}}

                    <div class="row flex-row">
                        <div class="col-11 mt-5 ml-4" id="add-to-watchlist">
                            <div class = "card-banner card-rounded user-pref">
                                <div class="pl-2 pt-2 card-header display-flex align-center">
                                    <h2>This film is in your watchlist.</h2>
                                </div>
                                <form class="form pb-3" id="preferences">
                                    <div class="form-group">
                                        <label for="notification" id="notify-me">Notification preference: 
                                            {{#if prefs.notification_period}}
                                            {{prefs.notification_period}}
                                            {{else}}
                                            Don't Notify
                                            {{/if}}
                                        </label><br />
                                        <label for="change-prefs">Check box to be notified:</label>
                                        <input type="checkbox" id="notify" name="notify" onclick="checkBoxChange();"><br />
                                        <label class="pb-4 pt-2" for="change-prefs" id="notice-period-label">Select when to be notified:</label><br />
                                        <br />
                                        <select class="notice" name="notice-period" id="notice-period">
                                            <option value='1 day'> 1 day</option>
                                            <option value='2 days'>2 days</option>
                                            <option value='3 days'>3 days</option>
                                            <option value='4 days'>4 days</option>
                                            <option value='5 days'>5 days</option>
                                            <option value='6 days'>6 days</option>
                                            <option value='1 week'>1 week</option>
                                            <option value='2 weeks'>2 weeks</option>
                                            <option value='3 weeks'>3 weeks</option>
                                            <option value='1 month'>1 month</option>
                                        </select> 
                                        <span id="release-label">before {{format_date movie.release_date}}</span>
                                    </div>
                                    <div class="form-group p-2">
                                        <button class="btn btn-primary" onClick="updateFormHandler();">Update Preferences</button>
                                        <button class="btn btn-primary" id="remove-watching">Remove?</button>
                                    </div>
                                </form>
                            </div>
                            {{#if movie.backdrop_path }}
                                <div class="p-3 landscape-movie-pic">
                                    <img src = "https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}" alt="" height="87%" width="87%"/> 
                                </div>  
                            {{/if }}
                        </div>                    
                    </div>
                    <script src="../../js/watchlistPrefs.js"></script>
                {{/each}}
            {{else}}

                <div class="row flex-row">      
                    <div class="mt-5 ml-4" id="add-to-watchlist">
                        <div class = "card-banner card-rounded user-pref">
                            <div class="pl-2 pt-2 card-header display-flex align-center">
                                <h2>Add this film to your watchlist?</h2>
                            </div>

                            <div class="col-sm-12 col-m-10">
                                <form class="form  pb-3" id="add-preferences">
                                    <div class="form-group">
                                        <label for="notification" id="add-notify-me">Notification preferences: 
                                        </label><br />
                                        <label for="change-prefs">Check box to be notified:</label>
                                        <input type="checkbox" id="add-notify" name="notify" onclick="checkBoxChange();" checked><br />
                                        <label class="pb-4 pt-2" for="change-prefs" id="add-notice-period-label">Select when to be notified:</label>
                                        <br />
                                        <select class="notice" name="notice-period" id="add-notice-period">
                                            <option value='1 day'> 1 day</option>
                                            <option value='2 days'>2 days</option>
                                            <option value='3 days'>3 days</option>
                                            <option value='4 days'>4 days</option>
                                            <option value='5 days'>5 days</option>
                                            <option value='6 days'>6 days</option>
                                            <option value='1 week'>1 week</option>
                                            <option value='2 weeks'>2 weeks</option>
                                            <option value='3 weeks'>3 weeks</option>
                                            <option value='1 month'>1 month</option>
                                        </select> 
                                        <span id="add-release-label">before {{format_date movie.release_date}}</span>
                                    </div><br />
                                    <div class="form-group">
                                        <button class="btn btn-primary" onClick="createFormHandler();">Add to Watchlist</button>
                                        <button class="btn btn-primary" id="cancel-add-watchlist">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mt-5 flex-row justify-flex-start">
                        <div class="no-button" id="add-watchlist" onclick="openFormHandler();">Add to watchlist?</div>
                        {{#if movie.backdrop_path }}
                            <div class="p-3 landscape-movie-pic">
                                <img src = "https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}" alt="" height="87%" width="87%"/> 
                            </div>  
                        {{/if }}
                    </div>
                </div>
                <script src="../../js/addWatchlist.js"></script>
            {{/if}}
        </div>
    {{/each}}
</div>

