<div class="row">
    <div class="col-auto display-block watchlist-cards">

            {{#each user as | users |}}
                <h4 class="text-white">Welcome {{name}}</h4>


            {{#each movies as | movie |}} 
                <a href="/api/movie/{{ movie.usermovie.movie_id }}">
                    <div class="card">
                        <div class = "card-banner card-rounded">
                            <div class="card-header display-flex justify-space-between align-center ">
                                <h5 class="p-2">{{ movie.title }} <br />|
                                    {{#each genres as | genre |}} 
                                        <span class="genres">  {{ genre.genre_name }} | </span>    
                                    {{/each}}
                                    <br />
                                    <span class="genres">Release date: {{format_date movie.release_date}} </span>
                                </h5>
                                

                                <span class="card-poster">

                                    {{#if movie.poster_path}}
                                    <a href="/api/movie/{{ movie.id }}">
                                        <img src = "https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="" height="90px" width="60px"/> 
                                    </a>
                                    {{else}}
                                    <a href="/api/movie/{{ movie.id }}">
                                        <img src = "./img/PlaceHolder.jpg" alt="" height="90px" width="60px"/> 
                                    </a>
                                    {{/if}}

                                </span>   
                            </div>
                        </div>
                    </div>
                </a>
                <div style="display:inline-block;">
                    <img src="./img/delete.png" alt="" height="15%" width="15%" onClick="deleteButtonHandler({{ movie.usermovie.movie_id }});"/>
                </div>
            {{/each}}
        {{/each}}
    </div>
    
</div>

<script src="../../js/dashboard.js"></script>

