<div class="row">
    <div class="col-auto display-block">

            {{#each user as | users |}}
                <h4 class="text-white">Welcome {{name}}</h4>


            {{#each movies as | movie |}} 
                <a href="/api/movie/{{ movie.usermovie.movie_id }}">
                    <div class="card">
                        <div class = "card-banner card-rounded">
                            <div class="card-header display-flex justify-space-between align-center ">
                                <h5 class="p-2">{{ movie.title }} <br />|
                                    {{#each genres as | genre |}} 
                                        <span class="genres">  {{ genre.genre_name }} | </span>    
                                    {{/each}}
                                </h5>

                                <span class="card-poster">
                                    <img src = "https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="" height="90px" width="60px"/> 
                                </span>   
                            </div>
                        </div>
                    </div>
                </a>
                
            {{/each}}
        {{/each}}
    </div>
    
</div>

                {{!-- <h6 class="p-2 release-date">Release date: {{format_date movie.release_date}}</h6>
                <h6 class="p-2 release-date">Language: {{movie.language}}</h6>
                <h6 class="p-2 release-date">Popularity score {{movie.popularity}}</h6>
                    <div class="movie-overview">
                        <h5>Overview: <br><br>{{ movie.overview }}<br><br></h5> --}}
